th:hover {
  cursor: pointer;
}

table th {
  position: relative;
}

table th:after {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
}

table th.asc:after {
    content: "\25B2";
    display: block;
    top: 8px;
    right: 20px;
}

table th.desc:after {
    content: "\25BC";
    display: block;
    top: 8px;
    right: 20px;
}